@font-face {
  font-family: Plus Jakarta Sans;
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.container{
    display: grid;
    margin: 0 auto;
    width: 50%;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background: #000;
}
.row{
    display: flex;
    width: 100%;
}
.col-6{
    width: 50%;
    height: 100%;
    border: 1px solid #fff;
}
 